WALLET_API_HOST=localhost
WALLET_API_PORT=9545
WALLET_API_PROTO=http
ETH_WALLET_ADDRESS=0x74b8E695F1Fc8e5098E2E19361D1912c0aC86cA5
ETH_WALLET_PKEY=0xe37ff9b40e14db52be22b8e3662ef36a01fa70b7919d169ca4801cfa9f63a57a
API_PORT=4040
ERC721_BASE_TOKEN_URI=http://cann-nft.zelbov.work/nft_assets/
CONTRACT_NAME=CannasapienceNFT
TOKEN_NAME=Cannasapience
TOKEN_SYMBOL=CNSP

# Sale & presale values are converted manually from official currency exchange rate at the moment of contract deployment
PRESALE_TOKEN_PRICE_ETH=0.0002 ether
SALE_TOKEN_PRICE_ETH=0.00025 ether
PRESALE_START_DELAY_SECONDS=0
PRESALE_DURATION_SECONDS=60
RESERVE_FOR_AIRDROPS=15
RESERVE_FOR_PRESALE=1000
MAX_TOKENS=10000
MAX_PRESALE_USER_MINTED_TOKENS_PER_TX=1
MAX_PUBSALE_USER_MINTED_TOKENS_PER_TX=3
MAX_PRESALE_TOKENS_MINT=9
MAX_PUBLIC_SALE_TOKENS_MINT=21

# Proxy registry address used when deploying marketplace-integrated NFT smart contracts:
# Production (mainnet):
PROXY_REGISTRY_ADDRESS=0xa5409ec958C83C3f309868babACA7c86DCB077c1

# Rinkeby (open chain listing tests):
# PROXY_REGISTRY_ADDRESS=0x1E525EEAF261cA41b809884CBDE9DD9E1619573A